{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ],
    "@babel/preset-react",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}